<style>
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
</style>

*{ 
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 20px;

}
body {
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
  display: none;
}
html, body {
    width: 100%;
}
.navigation-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-image: Linear-gradient(to right, #000000,  #1a001a, #330033, #4d004d, #660066);
	z-index: 5;

}
.allsection{
	position: fixed;
	left: 0px;
	top: 0px;
  height: 100vh;
	width: 100%;
	
}
.section{
	position: relative;
	top: 38px;
	width: 100%;
	height: 100vh;
	background-image: url('http://eskipaper.com/images/purple-gradient-wallpaper-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}
.logo{
	margin-left: 20px;
	color: #ff00ff;
	font-size: 25px;
   font-family: Arial black;
   letter-spacing: 2px;

}
.mymenus{
	color: white;
}
html{
	scroll-behavior: smooth;
}
.mymenus:hover{
	color: lightcoral;
}
.my-info{
	position: relative;
	left: 70px;
	top: 150px;
	height: 200px;
	width: 600px;
	color: white;
	text-align: justify;

}
.infosame{
	font-family: sans-serif;
	font-size: 20px;
	

}
.hello{
	font-size: 60px;
}
.homename{
	font-size: 60px;
}
.fsd{
  height: 50px;
  width: 500px;
	font-size: 40px;
}
.homeimg-div{
	position: relative;
	left: 55%;
	top: -130px;
	height: 500px;
	width: 500px;
}
.homeimg{
  height:550px ;
  width: 550px;
}
.resume{
  border: none;
	font-size: 20px;
}
.resume:hover{
  border: none;
  background: #6666ff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #6666ff,
              0 0 25px #6666ff,
              0 0 50px #6666ff,
              0 0 100px #6666ff;

}

                                      /* <!-- .Name Background Animation Code Starts Here -->*/


body {

  font-family: 'Raleway', sans-serif;
  background-color: #000;
}

.text-container {
    position: relative;
    right: 80px;
    height: 10vh;
    width: 50vw;

}

.text-container h1{
  margin: 0;
  font-size: 70px;
  color: rgba(225,225,225, .01);
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.YOhkoPy-d0ow27zTG1FgYgHaEK&pid=Api&P=0&h=180");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}
/*                                         <!-- Name Background Animation Code Ends Here -->*/
/*                                                 <!-- Ends of Home Code Here -->*/
                                                                                      
                                              /*.About Section Started here*/
.about-section{
	display: flex;
  height: 100vh;
  width: 100%;
	background-image: Linear-gradient(90deg,#e52e71,#ff8a00);
}
.aboutimg{
	height: 695px;
	width: 50%;
	padding-top: 110px;

}
.aboutinfo-div{
  position: relative;
  top: 120px;
	height: 695px;
	width: 50%;
/*	display: flex;*/
	justify-content: center;
}
.aboutinfo{
  position: relative;
  top: 100px;
  right: 100px;
	color: white;
	font-size: 23px;
	text-indent: 20%;
	text-align: justify;
}
                                          /*.About word Animation Started here*/ 
.aboutname{
  position: relative;
  left: 200px;
  display: flex;
  height: 100px;
  width: 200px;
}
.waviy span {
  position: relative;
  margin-top: -50px;
  letter-spacing: 15px;
  display: inline-block;
  font-size: 70px;
  color: black;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.1s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
                                         /*.About word Animation Ended here*/

                                         /*.Skills Animated CSS Section Start here*/

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.ag-offer-block {
  padding: 50px 0 90px;
  
}
.ag-offer_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.ag-offer_item {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
.ag-offer_item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
 
}
.ag-offer_item:not(:nth-child(3n)) {
  
}
.ag-offer_item:nth-child(1) .ag-offer_hidden-item {
  background-image: Linear-gradient(90deg,#e52e71,#ff8a00);
}
.ag-offer_item:nth-child(2) .ag-offer_hidden-item {
  background-color: #ffca00;
}
.ag-offer_item:nth-child(3) .ag-offer_hidden-item {
  background-color: #15c1c1;
}
.ag-offer_item:nth-child(4) .ag-offer_hidden-item {
  background-image: Linear-gradient(90deg,#e52e71,#ff8a00);
}

.ag-offer_item:hover .ag-offer_visible-item {
  opacity: 0;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.ag-offer_visible-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 35px 40px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: .4s .3s;
  -moz-transition: .4s .3s;
  -o-transition: .4s .3s;
  transition: .4s .3s;
}
.ag-offer_img {
  height: 64px;
  width: 64px;
  margin: 0 15px 0 0;
}
.ag-offer_title {
  color: white;
  font-size: 30px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ag-offer_hidden-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 30px;

  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transform: rotate(180deg) scale(0);
  -moz-transform: rotate(180deg) scale(0);
  -ms-transform: rotate(180deg) scale(0);
  -o-transform: rotate(180deg) scale(0);
  transform: rotate(180deg) scale(0);

  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.ag-offer_item:hover .ag-offer_hidden-item {
  opacity: 1;

  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);

  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}
.ag-offer_text {
  max-width: 100%;

  opacity: 0;

  font-size: 25px;
  color: #FFF;

  -webkit-transition: .3s .5s;
  -moz-transition: .3s .5s;
  -o-transition: .3s .5s;
  transition: .3s .5s;
}
.ag-offer_item:hover .ag-offer_text {
  opacity: 1;
}
.ag-offer_btn {
  display: block;
  padding: 10px 20px;
  border: 2px solid #FFF;

  position: absolute;
  top: 50%;
  left: 50%;

  white-space: nowrap;
  font-size: 25px;
  color: #FFF;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-offer_btn:hover {
  border: 2px solid #0000d1;
  background-color: #FFF;

  text-decoration: none;
  color: #0000d1;
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-offer_item {
    width: 100%;
    margin:  0 0 30px;
    border: 0 none !important;
    border-bottom: 1px solid #c1c1c1 !important;
  }
  .ag-offer_visible-item {
    padding: 0 20px 30px;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .ag-offer_item:hover .ag-offer_visible-item {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .ag-offer_hidden-item {
    padding: 0 20px 20px;

    opacity: 1;

    position: static;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .ag-offer_item:nth-child(1) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(2) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(3) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(4) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(5) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
    background-color: transparent;
  }
  .ag-offer_item:hover .ag-offer_text {
    opacity: 1;
  }
  .ag-offer_title {
    font-weight: bold;
  }
  .ag-offer_text {
    opacity: 1;

    font-size: 18px;
    color: #000;
  }
  .ag-offer_btn {
    border: 2px solid #0000d1;
    background-color: #000080;

    position: static;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }
/*                  *Below code of Animated Skill Section is modified by pranay with own knowledge */*/
/*                  *not copied .... Copied Code converted into personal required structure by pranay*/*/
}
.ag-format-container{
  width: 80%;
  height: 600px;
  gap: 1rem;
  background-color: tra;
}
.skills-section{
 position: relative;
 height: 100vh;
 width: 100%;
 top: 120px;
}
.skillname, .ag-offer-block{
  position: relative;
  top: 50px;
}
.ag-offer_list{
	cursor: pointer;
	height: 200px;
	list-style: none;
      padding: 0;
      margin: 0;

}
.ag-offer_item{
	margin-bottom: 10px;
	padding: 10px;
  background: transparent;
  background: rgba(0,0,0,.3);
  box-shadow: 0px 0px 5px black;
}
.skillname span{
	color: #FAE481;
	font-size: 50px;
	letter-spacing: 10px;
	padding-top: -80px;
}
.skillname{
	margin-top: -100px;
	padding-top: 50px;
}
.ag-offer_title h6{
  color: grey;
}
.forgap , .forgap2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.lang, .os, .tool, .api{
  height: 225px;
  width: 500px;
  left: 80px;
}                                      
                         /*Copied Code converted into personal required structure by pranay ended here*/
                                    /*.Skills CSS Section Own made Start here*/

                       /*Khalcha code pn skills section chach ahe to pranay ni banavlay but varti 
                       animation wala code jast changla ahe mhnun to thevlay ha comment out kelay                                                           */
/*.tbl-div{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
.tbl{
	height: 550px;
	width: 100%;
	color: white;
	border-collapse: separate;
    border-spacing: 15px;
}
.tblhead{
	padding-bottom: 80px;
}
.tblpara{
	margin-bottom: 50px;
	font-size: 25px;
}
.tbldata{
	border: solid white 2px;
	overflow: hidden;
	backdrop-filter: blur(20px);
	box-shadow: 0px 0px 15px white;
}
.lang,.os{
	padding-bottom: 40px;
}
.skillname span{
	font-size: 50px;
	letter-spacing: 10px;
	padding-top: -80px;
}
.skillname{
	margin-top: -100px;
	padding-top: 50px;
}
.tbldata:hover,
.tbldata:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
*/
                       /*Khalcha code pn skills section chach ahe to pranay ni banavlay but varti 
                        animation wala code jast changla ahe mhnun to thevlay ha comment out kelay END....*/

                                     /*Project Section Starts Here*/
.projects-section{
  position: relative;
  top: 100px;
  height: 100vh;
  width: 100%;
  background-image: Linear-gradient(90deg,#e52e71,#ff8a00);
}
.projects-section{
  background-image: Linear-gradient(90deg,#e52e71,#ff8a00);
  padding: 20px;
  border: none;
}
.projecthead, .all-projects{
  position: relative;
  top: 50px;
}
.all-projects{
  height: 700px;
  margin-top: 40px;
}
.card{
  background: transparent;
  background: rgba(0,0,0,.3);
  box-shadow: 0px 0px 5px black;
}
.card-title{
  color: lightblue;
  font-weight: bolder;
}
.card-text{
  color: white;
}
.card-img-top{
  position: relative;
  height: 200px;
  width: 200px;
  top: 10px;
  background: rgba(0,0,0,.5);
} 
.card-deck{
  position: relative;
  top:50px;
}                                   
/*.projecthead{
	color: white;
	padding: 25px;

}
.card-group{
  width: 100%vw;
  height: 100%vh;
	display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
} 
.card{
  height: 550px;
  background-color: transparent;
  gap: 0.5rem;

}
.card-body{
  height: 400px;
  width: 400px;
}	
.card-img-top{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: transparent;
	padding-left: 80px;
	width: 300px;
	height: 300px;
}
.card-title{
	color: white;
}
.mainremote, .maincalcu, .maincalen{
  height: 550px;
  border: solid white 2px;


}*/
                                        /*Project Section Ends Here*/
                                        /*.contact starts here*/

.contact-section{
  height: 100vh;
  width: 100%;
  position: relative;
  top: 100px;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  z-index: 5;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: white;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
                          /*.Contact Form Ends here & Social Media Handles Starts here*/
.social{
  display: flex;
  position: relative;
  top: 60%;
  left: 70px;
  height: 20%;
  width: 30%;
  vertical-align: bottom;
  color: white;
  gap: 2rem;
}
.sociallink{
   height: 70px;
  width: 70px;
}
.sociallink:hover{
  cursor: pointer;
  box-shadow: 0px 0px 100px #03e9f4;
  border-radius: 50%;
}
.socialmail{
 height: 70px;
 width: 70px;
}
.socialmail:hover{
  cursor: pointer;
  box-shadow: 0px 0px 100px orangered;
  border-radius: 50%;
 } 
.socialgit{
  height: 70px;
  width: 70px;
}
.socialgit:hover{
  cursor: pointer;
  box-shadow: 0px 0px 100px lightgrey;
  border-radius: 50%;
}            
                                  /*Contact info Starts here*/
.contactinfo{
  height: 500px;
  width: 700px;
}
.contacthead h3{
  padding-left: 90px;
  line-height: 2em;
}
.allsection{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}
                                /*Contact Section Ends here*/
